

.galeria{
    grid-template-columns: 1fr;
    grid-template-areas:
    'img1'
    'img2'
    'img3'
    'img4'
    'img5'
    'img6';    
}
.galeria_imagenes::before{
    font-size: 1rem;
}

.galeria_imagenes{
    position:relative;
    cursor:pointer;
    overflow: hidden;
}

.galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}
.img5 {
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}

@media (min-width:768px){
    .galeria{
        padding-bottom : 3em;
        padding-top: 1em;
        display:grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-auto-rows: 400px;
        grid-template-areas: 
        'img1 img2 img3'
        'img4 img5 img6';    
        gap : 0.8em;
    }     

    .galeria_imagenes::before{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: $grisDos;
        transform: scaleY(0);
        transition: transform .4s;
        color:white;
        display:flex;
        justify-content: center;
        align-items:center ;
        font-size:1.5rem ;    
    }
    
    .galeria_imagenes:hover::before{
        transform: scaleY(1);
    }
    
    .cocina.galeria_imagenes::before{
        content: "cocina";
    }
    .baños.galeria_imagenes::before {
        content: "Baños";
    }
    
    .interiores.galeria_imagenes::before {
        content: "Interiores"
    }
    
    .ampliaciones.galeria_imagenes::before{
        content:"Ampliaciones";
    }
    
    .exteriores.galeria_imagenes::before {
        content: "Exteriores";
    }
    
    .terrazas.galeria_imagenes::before {
        content: "Terrazas";
    }
}