.galeriaGral{
    padding-bottom : 3em;
    padding-top: 1em;
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-auto-rows: 500px;
    grid-template-areas: 
    'img1 img2 img3'
    'img4 img5 img6';    
    gap : 0.8em;
} 

