/* Titulo */

.titulo {
    height: 50vh;
    background-image: url(../assets/img/main_640.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 3rem;

    h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    }

    .titulo__contenido {
        position: absolute;
        background-color: rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        color: $blanco;
        text-align: center;
        line-height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
        span {
            text-decoration: none;
            color: $negro;
            background-color: $blanco;
            padding: 0.7rem 1rem;
            transition: .3s ease;
        }   
    }
}

@media screen and ( min-width:769px )  {
    .titulo {
        height: 90vh;
        background-image: url(../assets/img/main_1920.webp);

        h1 {
            font-size: 4rem;
        }

        .titulo__contenido {
            align-items: flex-start;
            text-align: start;
            padding-left: 3rem;

            span:hover {
                background-color: $negro;
                color: $blanco;
            }
        }
    }
}

/* Lider */

.lider-btn {
    @extend .boton;
    transition: ease-out 0.4s;
}
@media screen and ( min-width: 769px) {

    .img-wd {
        order: -1;
    }

    .lider-btn:hover {
        box-shadow: inset 0 0 0 50px $marron;
    }
}

/* Eleccion */

.color-h3 {
    color: $marron;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
    .eleccion {
        margin-bottom: 3rem;

        h2 {
            margin-bottom: 4rem;
        }

        h3 {
        margin-bottom: 3rem;
        }
    }
}

/* Servicios */ 

.servicios__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    .servicios__flex__contenedor {
        height: 30vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;

        a {
            text-decoration: none;
            color: $blanco;
            font-size: 2rem;
            font-weight: 600;
        }

        .servicios__flex__contenedor__anclas {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, .4);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.cocina {
    background-image: url(../assets/img/cocina1_c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bath {
    background-image: url(../assets/img/baño_c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.interiores {
    background-image: url(../assets/img/interiores_c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.servicios__btn a {
    @extend .boton;
    color: $blanco;
    background-color: $negro;
    transition: ease-out 0.4s;
}

@media screen and (min-width:769px){ 

    .servicios__flex {
        flex-direction: row;
        margin-bottom:4rem;

        .servicios__flex__contenedor {
            height: 70vh;
            margin: 0.2rem;
        }
    }
    .cocina {
        background-image: url(../assets/img/cocina1_g.webp);
    }

    .servicios__btn {
        a:hover {
            box-shadow: inset 0 0 0 50px $marron;
        }
    } 
}

/* Clientes */

.nombreCliente {
    color: $marron;
    font-size: 1.4rem;
    font-weight: 600;
}

/*Formulario */

.form_bg {
    background-color: $negro;
    padding: 3rem 0;
    margin-bottom: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:0 auto;

    h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .formulario__texto h2, .formulario__texto p {
        color: $blanco;
    }
}

.column {
    display: flex;
    flex-direction: column;

    input {
        background-color: $negro;
        border: none;
        border-bottom: 1px solid $blanco;
        outline: none;
        color: $blanco;
        font-family: $fuente;
        font-size: 1rem;
        padding: .5rem;
        font-weight: 300;
    }

    textarea {
        background-color: $negro;
        color: $blanco;
        border: none;
        outline: none;
        resize: none;
        border-bottom: 1px solid $blanco; 
        font-size: 1rem;   
        font-family: $fuente;
        font-weight: 300;
    }

    .enviar__btn {
        background-color: $blanco;
        color: $negro;
        padding: .5rem;
        margin-top: 1.5rem;
        font-weight: 400;
        font-family: $fuente;
        border: none;
        transition: ease-out 0.4s;
    }
}

.lb-index {
    color: $blanco;
    font-weight: 100;
}

@media (min-width:769px){ 

    .formulario {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .formulario__texto {
            color: $blanco;
            width: 50%;
        }

        .formulario__form {
            width:50% ;
            margin-left: 5rem;

            .formulario__form__flex {
                display: flex; 
                column-gap: 1.5rem; 
            }
        }
    }    
    .mitad {
        width: 50%;
    }
    .enviar__btn:hover {
        box-shadow: inset 0 0 0 50px $marron;
        color: $blanco;
    }
}  
/* Acerca de */
.acerca-h {
    height: 50vh;
    background-image: url(../assets/img/cocina_6_c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo-acerca {
    text-transform: uppercase;
    padding-top: 2rem;
    font-size:40px;
    font-weight: 700;
    color: #fff;    
    text-shadow: 6px 6px $negro;
}

@media screen and (min-width: 769px) {

.acerca-h {
    height: 90vh;
    background-image: url(../assets/img/cocina_6_g.webp);
}

    .titulo-acerca {
        padding-top: 5rem;
        font-size: 100px;
}

}
/* Trabajos */
.galeria{
    grid-template-columns: 1fr;
    grid-template-areas:
    'img1'
    'img2'
    'img3'
    'img4'
    'img5'
    'img6';    
}
.galeria_imagenes::before{
    font-size: 1rem;
}

.galeria_imagenes{
    position:relative;
    cursor:pointer;
    overflow: hidden;
}

.galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}
.img5 {
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}

@media (min-width:768px){
    .galeria{
        padding-bottom : 3em;
        padding-top: 1em;
        display:grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-auto-rows: 400px;
        grid-template-areas: 
        'img1 img2 img3'
        'img4 img5 img6';    
        gap : 0.8em;
    }     

    .galeria_imagenes::before{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: $grisDos;
        transform: scaleY(0);
        transition: transform .4s;
        color:white;
        display:flex;
        justify-content: center;
        align-items:center ;
        font-size:1.5rem ;    
    }
    
    .galeria_imagenes:hover::before{
        transform: scaleY(1);
    }
    
    .cocina.galeria_imagenes::before{
        content: "cocina";
    }
    .baños.galeria_imagenes::before {
        content: "Baños";
    }
    
    .interiores.galeria_imagenes::before {
        content: "Interiores"
    }
    
    .ampliaciones.galeria_imagenes::before{
        content:"Ampliaciones";
    }
    
    .exteriores.galeria_imagenes::before {
        content: "Exteriores";
    }
    
    .terrazas.galeria_imagenes::before {
        content: "Terrazas";
    }
}

/* Servicios */

.card {
    border: none;
    border-radius: 0;
}

.card-img-top {
    border-radius: 0;
}

.bg-card {
    background-color: var(--blanco);
}

.zoom {
    transition: transform 0.9s ease, opacity 0.9s ease;
}
.zoom:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
}


/* Galerias */

.galeriaGral{
    padding-bottom : 3em;
    padding-top: 1em;
    display:grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-auto-rows: 500px;
    grid-template-areas: 
    'img1 img2 img3'
    'img4 img5 img6';    
    gap : 0.8em;
} 


/* Contacto */ 


.contacto-bg {
    background-color: $blanco;
    padding: 3rem 0;
    margin-bottom: 2rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:0 auto;

    h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    p {
        margin-bottom: 2rem;
    }

    .contacto__texto h2, 
    .contacto__texto p {
        color: $negro;
    }

}


.column {
    display: flex;
    flex-direction: column;

    .label {
    color: $negro;
    font-weight: 300;
    }

    .ct-input {
        background-color: $blanco;
        border: none;
        border-bottom: 1px solid $negro;
        outline: none;
        color: $negro;
        font-family: $fuente;
        font-size: 1rem;
        padding: .5rem;
        font-weight: 300;
    }

    .textarea {
        background-color: $blanco;
        color: $negro;
        border: none;
        outline: none;
        resize: none;
        border-bottom: 1px solid $negro; 
        font-size: 1rem;   
        font-family: $fuente;
        font-weight: 300;
    } 

    .contacto__btn {
        background-color: $negro;
        color: $blanco;
        padding: .5rem;
        margin-top: 1.5rem;
        font-weight: 400;
        font-family: $fuente;
        transition: ease-out 0.4s;
    }
}

@media (min-width:769px){ 

    .contacto {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .contacto__texto {
            color: $negro;
            width: 50%;
        }

        .contacto__form {
            width:50% ;
            margin-left: 5rem;

            .contacto__form__flex {
                display: flex; 
                column-gap: 1.5rem; 
            }
        }
    }       
    .contacto__btn:hover {
        box-shadow: inset 0 0 0 50px $marron;
        color: $blanco;
    }
    .mitad {
        width: 50%;
    }
}  