
@keyframes logo{
    0%, 100% {
    }
    50% {
      transform: skew(-50deg, 5deg);
    }
  }

.bg {
    background-color: $gris;
}

.centrado {
    margin: 0 auto;
}

.boton {
    background-color: $negro;
    color: $blanco;
    padding: 0.7rem 1rem;
}


/* BANNER */

.banner {
    background-color: $negro;
    color: $blanco;
}

.banner__contenido {
    margin: 0 auto;
    height: 30vh;

    h2 {
        font-size: 1.5rem;
    }

    .banner-btn {
        @extend .boton;
        color: $negro;
        background-color: $blanco;
    }


}

@media screen and (min-width: 769px) {
    .banner__contenido {
        h2 {
            font-size: 2rem;
        }
    } 
}

.resaltado {
    color: $marron;
    font-weight: 600;
}

.marca {
    font-weight: 600;
}