
$blanco: #d8d7d8;
$gris: #e2dfdf;
$grisDos: #9e9e9ea6;
$negro: #222121;
$marron: #a26028;
$fuente:'Poppins', sans-serif; 

/* Mapa */
$grosor: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
);